@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000066; /* Deep Blue for Solar Trust */
}

/* Dark mode override ko hata diya hai taake solar site bright lage */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  overflow-x: hidden;
}